#map {
  height: 400px;
  width: 80%;
  padding: 16px;
}

#twitter {
  height: 250px;
  width: 100%;
  outline: 1px solid black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
