#map {
  height: 400px;
  width: 95%;
  margin: 1% auto;
  border: 8px outset white;
}

#wing-map {

}

a:active, a:hover {
    outline-width: 0;
    background: red;
    color: yellow;
    /* margin-left: 10px; */
    padding: .2em;
    font-size: larger;
}
#check-in-form {
  text-align: center;
}

#locations {
  display: none;
}

#locations>ul {
  padding: 0;
  margin-right: 8px;
}

#locationList>li {
  list-style: none;
  font-size: .8em;
  margin: 4px;

}
#twitter {
  margin-top: 10px;
  height: 250px;
  width: 100%;
}

.clickable:hover {
  cursor: pointer;
  color: #DDD;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 640px) {
  #map {
    height: 500px;
    width: 50%;
    margin: 1% auto;
    border: 8px outset white;
  }

  #wing-map {
    position: relative;
  }

  #locations {
    display: block;
    position: absolute;
    right: 7%;
    top: -1.5%;
    font-size: 1.5em;
  }
}
