nav ul {
  display: none;
  list-style: none;
}

nav {
  display: inline-block;
  float: right;
  margin: 3%;
  width: 35%;
}

nav:hover ul {
  display: block;
}

.icon-menu {
  font-size: 2em;
  text-align: right;
}

#logo {
  display: inline-block;
  float: left;
  margin-left: 5%;

}
/*progress styles*/

#user-progress {
  width: 100%;
  margin: 0 auto;
}

#chart-container {
  margin: 0 auto;
  width: 70%;
  position: relative;
  height: 100px;
}

.marker {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  z-index: .5;
  background-color: #CCC;
  position: absolute;
  bottom: 32.5%
}

#marker-0 {
  left: 0;
  background-color: black;
}

#marker-1 {
  left: 25%;
}

#marker-2 {
  left: 50%;
}

#marker-3 {
  left: 75%;
}

#marker-4 {
  right: 0;
}


#marker-filled-1 {
  left: 25%;
  background-color: black;
  display: none;
  z-index: .75;
}

#marker-filled-2 {
  left: 50%;
  background-color: black;
  display: none;
  z-index: .75;
}

#marker-filled-3 {
  left: 75%;
  background-color: black;
  display: none;
  z-index: .75;
}

#marker-filled-4 {
  right: 0;
  background-color: black;
  display: none;
  z-index: .75;
}

#wing-walk {
  /*float: left;*/
  background-color: black;
  height: 5px;
  width: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  position: absolute;
  bottom: 20%;
  left: 0;
  z-index: 1;
}

#wing-outline {
  background: #CCC;
  height: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  position: absolute;
  bottom: 20%;
  left: 0;
  z-index: 0;
  width: 100%;
}

#votes {
  height: 40%;
  width: 100%
}

/*twitter styles*/
#twitter {
  font-family: sans-serif;
}

#twitter h2 a {
  font-size: 27px;
  line-height: 36px;
  font-weight: 300;
  margin-left: 40px;
  color: #3b94d9;
  text-decoration: none;
}
.tweet {
  border-top: 1px solid #999;
  padding: 10px;
}

.tweet:hover {
  background-color: #EEE;
}

.tweet p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  margin-left: 40px;
  margin-top: 0;
  margin-bottom: 12px;
}

div.author-link {
  display: inline-block;
}

.author-link p {
  margin-left: 4px;
  margin-bottom: 2px;
}

.author-link a {
  color: #8899A6;
  text-decoration: none;;
  font-weight: 300;
}

.author-link a span{
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: black;
}

.user-thumbnail {
    float: left;;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 4px;
    max-width: 100%;
    max-height: 100%
}

.author-link a span:hover {
  color: #55acee
}

ul.tweet-actions {
  padding: 0;
  list-style-type: none;
}

ul.tweet-actions li {
  display: inline-block;
}

img.tweet-img {
  max-width: 100%;
  max height: 100%;
  margin-left: 40px;
}

@media only screen and (min-width:700px) {
  nav ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 50%;
  }

  .icon-menu {
    display: none;
  }

  nav ul li {
    display: inline-block;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 1%;
  }

  #logo {
    float: none;
    display: block;
    width: 100%;
    margin: 2% 0;
    text-align: center;
    font-size: 3em;
  }

  nav {
    float: none;
    display: block;
    width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width:1200px) {
  #logo {
    margin: 1% 0;
  }
}
